.search {
  display: flex;
  flex-flow: column;
}

.search__section {
  padding: 1rem;
}

.search__input {
  border-bottom: 1px solid #0c0707;
}

.search__input h3 {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1.27px;
  margin: 0;
  margin-bottom: 1rem;
}

.input__bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.input__bar input {
  background-color: var(--primary-background-color);
  border: none;
  height: 3rem;
  padding: 1rem;
  width: 100%;
  margin-right: -40px;
  color: var(--primary-font-color);
  font-size: 14px;
  font-family: var(--secondary-font-family);
}

.input__bar input::placeholder {
  color: var(--primary-font-color);
  font-style: italic;
}

.input__icon {
  cursor: pointer;
  color: #afafaf;
  font-size: 1.5rem;
  filter: brightness(50%);
}

.toggle-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}

.search__titles {
  flex: 1 0 85%;
  cursor: pointer;
}

.search__titles h4 {
  font-family: var(--secondary-font-family);
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .45px;
}

.search__titles span { 
  font-family: var(--secondary-font-family);
  color: #7c7c7c;
  font-size: 14px;
}

.search__toggle {
  cursor: pointer;
}

.search__toggle span {
  font-size: 2.5rem;
  color: #afafaf;
  filter: brightness(50%);
}

button {
  background-color: var(--secondary-background-color);
  border: none;
}

.search__platform {
  border-bottom: 1px solid #0c0707;
}

.search__platform.is-closed .platform__list,
.search__platform.is-closed .platform__list li,
.search__sort.is-closed .sort__list,
.search__sort.is-closed .sort__list li {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  z-index: -100;
}

.search__platform.is-closed .platform__list,
.search__sort.is-closed .sort__list {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  z-index: -100;
}

.search__platform.is-open .platform__list,
.search__sort.is-open .sort__list {
  padding: 0;
  list-style-type: none;
  display: block;
  opacity: 1;
  cursor: default;
}

.platform__list li {
  padding: 0;
  display: flex;
  align-items: center;
  cursor: default;
}

.platform__list input {
  height: 18px;
  width: 18px;
  border: 1px solid #7c7c7c;
}

.platform__list input:checked {
  border: 1px solid #fff;
}

.platform__list label {
  margin-left: 1rem;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--secondary-font-family);
}

.platform__list input:checked + span {
  width: 6px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  margin-left: .6rem;
}

.platform__list input:checked ~ label {
  color: var(--primary-font-color);
}

.sort__list li {
  padding: 0;
  display: flex;
  align-items: center;
  cursor: default;
}

.sort__list input {
  height: 18px;
  width: 18px;
  border: 1px solid #7c7c7c;
  border-radius: 100%;
}

.sort__list input:checked {
  border: 1px solid #fff;
}

.sort__list label {
  margin-left: 1rem;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--secondary-font-family);
}

.sort__list input:checked + span {
  width: 6px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  margin-left: .6rem;
  border-radius: 100%;
}

.sort__list input:checked ~ label {
  color: var(--primary-font-color);
}
