.tag-grid-container {
  background-color: var(--accent-background-color);
  padding: 1rem 1.1rem;
}

.tags h1 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1.27px;
  padding: 0;
  margin: 0;
  margin-bottom: 1.4rem;
}

.tag-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: .4rem .5rem;
  row-gap: .6rem;
  column-gap: .4rem;
}

.tag {
  background-color: var(--accent-background-color);
  color: hsla(0,0%,100%,.8);
  border: 1px solid hsla(0,0%,100%,.3);
  padding: .6rem 0;
  text-align: center;
  font-size: 14px;
  letter-spacing: .3px;
  font-family: var(--secondary-font-family);
  flex: 0 0 49%;
}

.tag-grid__closed .tag-grid {
  height: 3rem;
}

.tag-grid__closed .tag:nth-child(n+3) {
  opacity: 0;
  z-index: -100;
}

.tags-toggle {
  background-color: #c63134;
  padding: 1.4rem 2.2rem;
  display: flex;
  align-items: center;
}

.tags-toggle__text {
  font-size: 14px;
  letter-spacing: .3px;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  margin-right: .2rem;
}

.tag-grid__open .tags-toggle__arrow {
  display: none;
}

.tag-grid__closed .tags-toggle__close {
  display: none;
}

