@import "https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:400,500,900";

.featured {
  width: 100%;
  height: 32rem;
  margin-top: 80px;
  background-color: #1c030f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image {
  background-image: url(/src/assets/images/featured-banner-1-cot-lamb.jpg);
  background-position: 80%;
  background-size: 170%;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  box-shadow: 0px -50px 60px 0px #1c030f inset;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.2rem;
}

.title {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .96px;
}

.subtitle {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .37px;
}

.platform {
  background-image: url(/src/assets/images/windows.svg);
  width: 1rem;
  height: 1rem;
  margin-top: 1rem;
}

.link {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link a:visited {
  color: #fff;
}

.link a:link {
  color: #fff;
  display: flex;
  align-items: center;
}

.link a span {
  margin-left: 1rem;
}
