.header {
  position: fixed;
  top: 6px;
  display: flex;
  height: 80px;
  width: 100%;
  padding-bottom: .4rem;
  background-color: var(--primary-background-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header.is-minimized {
  top: -90px;
}

.logo-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.3rem;
}

.logo {
  height: 55px;
  width: 123px;
}

.logo::before {
  content: "";
  background-image: url(../../assets/images/logo-red-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: block;
}

.hamburger {
  background-color: var(--primary-background-color);
  border: none;
  width: 36px;
  height: 36px;
  display: flex;
  margin-left: 1.2rem;
  margin-bottom: 0.2rem;
}

.hamburger-icon {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

header.is-closed .hamburger__open,
header.is-open .hamburger__close {
  display: flex;
}

header.is-open .hamburger__open,
header.is-closed .hamburger__close {
  display: none;
}

.hamburger-icon span {
  color: #fff;
  font-size: 36px;
}
