:root {
  --primary-background-color: #0c0707;
  --accent-background-color: #dc4144;
  --secondary-background-color: #252525;
  --primary-font-color: #fff;
  --primary-font-family: Rubik, sans-serif;
  --secondary-font-family: 'Roboto Mono';
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
  background-color: var(--primary-background-color);
}


a {
  text-decoration: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}